/*html标记的样式*/

body {
	width: 95%;
	max-width: 760px;
	margin: 5px auto;
	background: url(assets/bg.gif);
	font-size: 14px;
}

p {
	/* 首行缩进 */
	text-indent: 24.1pt;
	/* 粗体 */
	font-weight: bold;
	/* 楷体、12pt、蓝色 */
	font-size: 12.0pt;
	font-family: 楷体;
	color: #0070C0;
}

.p-r {
	text-align: right;
}

.p-c {
	text-align: center;
	text-indent: unset;
}
